env
.env
venv/
__pycache__/
logs/
*.pyc
data/
test.py
archive/
logger\custom_logger_archive.py
logger\custom_logger_archive2.py
logger\custom_logger_archiveone.py
exception\custom_exception_archive.py