langchain[all]
python-dotenv
langchain-groq
langchain-openai
langchain-google-genai
langchain-community
langchain-core
langchain_core
pypdf
##Faiss vector DB - Run time
faiss-cpu
## Logging 
structlog
PyMuPDF
pydantic
fitz    






-e .   
